<div class="project-card h-100 d-flex flex-column" [ngClass]="'gradient-' + cardIndex">
    <h5 class="card-title">{{ title }}</h5>
    <p class="card-description">{{ description }}</p>
    <div class="technologies mt-auto">
        <span *ngFor="let tech of tech" class="tech-badge"
            [ngStyle]="{ 'background-color': getColors(tech).bgColor, 'color': getColors(tech).textColor }">{{ tech
            }}</span>
    </div>
    <div class="button-group">
        <a *ngIf="liveLink" [href]="liveLink" target="_blank" class="btn btn-primary">View Live</a>
        <a [href]="codeLink" *ngIf="codeLink" target="_blank" class="btn btn-secondary">View Code</a>
    </div>
</div>