<nav class="d-flex align-items-center justify-content-between py-1 px-3 gap-3">
    <a routerLink="/" fragment="home" class="logo">Portfolio</a>

    <div class="navLinks d-flex align-items-center gap-3  py-3 px-1">
        <a routerLink="/" fragment="about">About</a>
        <a routerLink="/" fragment="skills">Skills</a>
        <a routerLink="/" fragment="projects">Projects</a>
        <a routerLink="/" fragment="experience">Experience</a>
        <a routerLink="/" fragment="education">Education</a>
        <a routerLink="/contact">Contact</a>
    </div>
</nav>