@font-face {
    font-family: 'logoFont';
    src: url(assets/fonts/BungeeShade-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}