<main class="p-3 d-flex flex-column-reverse justify-content-center align-items-center flex-md-row gap-2">
    <section class="d-flex flex-column gap-3 justify-content-center flex-grow-1 animate-fade-in">
        <h3 class="m-0 heading animate-slide-left">
            <span class="fl">H</span>i, I'm<br />
            <span class="fl">L</span>okesh <span class="fl">I</span>yyappan
        </h3>

        <p class="m-0 animate-fade-delay">
            I specialize in building responsive web applications with Angular, React.js, Node.js, and Express.js. I
            focus on
            crafting clean user interfaces, scalable backends, and seamless API integrations that bring ideas to life on
            the web.
        </p>

        <div class="d-flex align-items-center gap-3 animate-bounce-in">
            <div class="d-flex gap-2">
                <a href="assets/my_resume_aug_25.pdf" download class="btn btn-sm btn-outline-primary">Download
                    Resume</a>
                <a href="#contact" class="btn btn-sm btn-outline-success">Contact Me</a>
            </div>
        </div>
    </section>
    <section class="d-flex justify-content-center align-items-center imgDiv position-relative">
        <img src="assets/images/my_photo.png" alt="" class="myPhoto ">
        <div class="position-absolute top-0 end-0 iconsDiv topRight d-flex flex-column gap-2">
            <!-- <img src="assets/images/img 3.jpg" alt=""> -->
            <mat-icon>language</mat-icon>
        </div>
        <div class="position-absolute bottom-0 start-0 iconsDiv bottomLeft d-flex flex-column gap-2">
            <!-- <img src="assets/images/img 4.webp" alt="">
            <img src="assets/images/img 5.jpg" alt="">
            <img src="assets/images/img 6.webp" alt=""> -->
            <a href="assets/my_resume_aug_25.pdf" download class="m-0 d-flex align-items-center gap-2"
                style="color: #FFA725;">
                <mat-icon>download</mat-icon>
                <span class="fw-bolder">Resume</span>
            </a>
        </div>
    </section>
</main>